$font-size-root: 16px;
$btn-sizes: (
  'x-small': 15,
  'small': 23,
  'default': 31,
  'large': 39,
  'x-large': 47
);

// $headings: (
//   'h1': (
//     'size': 3.3125rem,
//     'line-height': 1.15em,
//     'weight': 300
//   ),
//   'h2': (
//     'size': 2.25rem,
//     'line-height': 1.5em,
//     'weight': 300
//   ),
//   'h3': (
//     'size': 1.5625rem,
//     'line-height': 1.4em,
//     'weight': 300
//   ),
//   'h4': (
//     'size': 1.125rem,
//     'line-height': 1.4em,
//     'weight': 300
//   ),
//   'h5': (
//     'size': 1.0625rem,
//     'line-height': 1.4em,
//     'weight': 300
//   ),
//   'h6': (
//     'size': .75rem,
//     'line-height': 1.5em,
//     'text-transform': uppercase,
//     'weight': 500
//   ),
//   'subtitle-1': (
//     'size': 0.875rem,
//     'weight': 300
//   ),
//   'subtitle-2': (
//     'size': 0.875rem,
//     'line-height': 1.5em !important,
//     'weight': 300
//   ),
//   'caption': (
//     'size': 0.8125rem,
//     'weight': 300
//   ),
//   'overline': (
//     'letter-spacing': normal,
//     'line-height': 0.625rem,
//     'size': 0.625rem,
//     'weight': 500
//   )
// );
